# The configuration file for jpm.
#

[excel]

# Excel datemode for windows is 0, for mac is 1
datemode = 0		



[input]

# the directory to look for input cash and positions files. Leave it empty
# if in current directory.
#directory=C:\Users\zhangst\Desktop\data conversion\ListCo Equity
directory=C:\Users\steven.zhang\Desktop\data conversion\ListCo Equity
#directory=C:\Users\steven.zhang\Desktop\data conversion\CLO Equity
